extends layout 
 
block content 
  h1= title 
 
  form(id='RoseForm', action="/resource/rose", method="POST") 
    div.form-group 
        label.roseAttr(for='types') Rose type 
        input#rose_type(type='text', name='types') 
    div.form-group 
        label.roseAttr(for='colours') Rose colour
        input#size(type='text', name='colours') 
    div.form-group 
        label.roseAttr(for='cost') Rose cost 
        input#cost(type='number', name='cost') 
    input(type="submit") 
 
  script. 
    document.forms['RoseForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 